---
import { Image } from 'astro:assets'

const { name, href, src } = Astro.props

const image = import(`../images/faces/${src}.jpg`)
---

<a {href} class="no-underline">
  <Image
    width="24"
    class="!inline-block rounded-lg -mb-1.5"
    src={image}
    alt={name}
  />
  <span class="underline">{name}</span></a
>
